<div class="auto-complete">
    <div class="auto-container">
        <input #searchAuto type="text" (focus)="inFocus($event)" (blur)="lostFocus($event)"
            (input)="searchKeyChange($event)" autofocus [value]="autoCompleteValue" [(ngModel)]="autoCompleteValue"
            [disabled]="isDisabled" [class.cmp-disabled]="isDisabled" />
        <button type="button" [disabled]="isDisabled " [class.cmp-disabled]="isDisabled"
            (click)="removeSearchKey($event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
        </button>
        <button type="button" [disabled]="isDisabled " [class.cmp-disabled]="isDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
    </div>
    <div class="result-container">
        <div *ngFor="let result of resultSet; let i = index" class="result-item" (click)="itemClickSelect($event)"
            [attr.data-sectionvalue]="result | json">
            {{result.companyName}}
        </div>
        <div *ngIf="isLoadMoreEnabled" (click)="loadMoreItems()" class="result-item">Load more..</div>
    </div>
</div>